<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instantly broadcast a phone message to your TeamSnap team - SnapBlast</title>
  <meta name="description" content="Don't let your message get lost in email, call your team and let them know the game's been moved or practice has been canceled.">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="welcome">

  <%= yield %>

  <%= render 'layouts/footer' %>

  <%= render 'layouts/ga' %>

</body>
</html>
